---
id: {{ id }}
title: {{ title | yaml_scalar }}
status: draft
describes: []
rfc_state: draft
affects: []
---

# {{ title }}

## Summary

## Motivation

## Detailed Design

## Drawbacks

## Alternatives

## Unresolved Questions
